{% extends 'Base/base.html' %}
{% block title %}Login - {% endblock %}
{% block body %}
	<div class="container mt-5" style="height: 100vh">
		<div class="col-md-6 mx-auto">
			<div class="card">
				<div class="card-header">
					<h1 class="card-title text-center">Login</h1>
				</div>
				<div class="card-body">
					<form action="" method="post">
						{% csrf_token %}
						<input type="text" name="username" class="form-control mb-2" aria-label="Username" placeholder="Username">
						<input type="password" name="password" class="form-control mb-2" aria-label="Password" placeholder="Password">
						<button class="btn btn-outline-success w-100 mb-2" type="submit">Login</button>
						<a class="btn w-100" href="{% url 'App:register' %}">Register</a>
					</form>
				</div>
			</div>
		</div>
	</div>
{% endblock %}