{% extends 'Base/base.html' %}
{% block title %}{% endblock %}
{% block body %}
	<div class="navbar-placeholder"></div>
	{#	<div class="container mb-2">#}
	{#		<div class="col-4">#}
	{#			<div class="custom-file">#}
	{#				<input type="file" class="custom-file-input" id="customFile">#}
	{#				<label class="custom-file-label" for="customFile">Choose photo</label>#}
	{#			</div>#}
	{#		</div>#}
	{#	</div>#}
	<div class="container h-100">
		<div class="row justify-content-center align-items-center" style="height: 200px">
			<div class="col">
				<h3 class="text-center ">{{ gallery.Name }}</h3>
				<hr class="hr-black">
				<h5 class="text-center">
					<a class="m-0 text-dark" href="{% url 'App:profile' gallery.Owner.id %}">
						<strong>{{ gallery.Owner.get_full_name }}</strong>
					</a>
				</h5>
			</div>
		</div>
	</div>
	{% for photo in gallery.photo_set.all|dictsortreversed:'UploadDateTime' %}
		{% include 'Shared/photoCard.html' %}
	{% endfor %}
{% endblock %}