{% extends 'Base/base.html' %}
{% block title %}Profile - {% endblock %}
{% block body %}
	<div class="navbar-placeholder"></div>
	<div class="container">
		<h1>
			{{ user.get_full_name }}
			<a class="text-dark" href="{% url 'App:uploadPhoto' user.id %}">
				<i class="fas fa-upload"></i>
			</a>
		</h1>
		<a href="{% url 'App:listOfUsers' %}">Friend List</a>
		<p>{{ user.email }}</p>
		<p>{{ user.username }}</p>
		<ul>
			{% for gallery in user.gallery_set.all %}
				<li><a href="{% url 'App:gallery' gallery.id %}">{{ gallery.Name }}</a></li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}