{% extends 'Base/base.html' %}
{% block title %}Upload photo - {% endblock %}
{% block body %}
	<div class="navbar-placeholder"></div>
	<div class="navbar-placeholder"></div>
	<div class="container">
		<div class="col-4 offset-4">
			<form action="{% url 'RestAPI:uploadProfilePhoto' %}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<input type="file" name="photoFile" class="file-upload mb-2">
				<button class="btn mx-auto w-100"><i class="fas fa-upload text-center"></i></button>
			</form>
		</div>
	</div>
{% endblock %}